extends layout 

block append scripts 
    //- script(src="/about.js")

    
block main-content 

    div.About.AboutView
        div.About.Greeting
            h1.page-title About us 
            p Hanging a poster you love makes you remember some good things. We committed to give your dream a picture. 
            div.btn  
                a(href="#") Delivery
     
        div.Line1
            img.Pic1(src='https://i.pinimg.com/564x/56/72/b1/5672b13718380e6eaea917bfadc49de7.jpg')
            img.Pic2(src='https://posterstore-group.imgix.net/1-43157.jpg?auto=compress%2Cformat&dpr=2&h=550&p=20&w=515&s=8717cb002af9789e000e3d88adc6af2c')
            img.Pic3(src='https://m.media-amazon.com/images/I/A17o1aB2nBL._AC_SX679_.jpg')
            
            
            
            //- img.Poster(src=product.image)