//- strangerthing3 source: https://www.amazon.ca/Trends-International-Stranger-Things-Poster/dp/B07SQRW162
//- joker source: https://www.amazon.ca/POSTER-ORIGINAL-ROBERT-JOAQUIN-PHOENIX/dp/B07XHMTWW1
//- backtothefurture source: https://www.amazon.ca/dp/B07X1TRHSW/ref=sspa_dk_detail_5?pd_rd_i=B07X1TRHSW&pd_rd_w=JeodB&content-id=amzn1.sym.f791117f-d69e-4a5a-a7a5-c71a1c31657f&pf_rd_p=f791117f-d69e-4a5a-a7a5-c71a1c31657f&pf_rd_r=X1PJN537X993XTKQGZBC&pd_rd_wg=WgHJq&pd_rd_r=418b67cf-c57b-469a-a917-5b5302518838&sp_csd=d2lkZ2V0TmFtZT1zcF9kZXRhaWxfdGhlbWF0aWM&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExTzBETzI0UEVCRTdVJmVuY3J5cHRlZElkPUEwNTI2NDc1MVdNMlU2NUY5MkJUVyZlbmNyeXB0ZWRBZElkPUEwMDc2MzI1MjgyWjY0QUY5NzRCUSZ3aWRnZXROYW1lPXNwX2RldGFpbF90aGVtYXRpYyZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU&th=1 
extends layout
//- the name of the layout file

block main-content  
    div.View.WelcomeView
        div.View.Greeting
            h1.page-title Welcome to the Poster Shop.
            p A picture is worth a thousand words. Bring them home!
            div.btn  
                a(href="/posters") Shop

        div.Line1
            img.Pic1(src='/img/strangerthing3.jpg')
            img.Pic2(src='/img/joker.jpg')
            img.Pic3(src='/img/backToTheFurture.jpg')

      
