block variables 
doctype html 
html
    head 
        meta(charset="utf-8")
        title #{Title} | Poster Shop
        block scripts 
         link(rel="stylesheet",href="/style.css")
    body
        header#header 
            .header-content 
                h2#site-name 
                    a(href="/") Poster Shop
            nav#main-navigation 
                ul 
                    each link in menu 
                        li 
                            a(href=link.path) #{link.name}
                    
        main#main   
            block main-content 
        footer#footer 
            p &copy; Copyright Vita Cheung HTTP5211, 2023.
