/* background source:https://www.bergerpaints.com/blog/decor-tips/making-your-house-wall-painting-last-longer*/
/* wall4 source:https://www.google.com/url?sa=i&url=https%3A%2F%2Fbasichomedesign.com%2Fmaintaining-your-homes-wall-paint%2F&psig=AOvVaw0I-p5qyrkm8oooLY8vMEWS&ust=1675448346688000&source=images&cd=vfe&ved=0CBIQ3YkBahcKEwjI_6vOuff8AhUAAAAAHQAAAAAQHg */

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bungee&family=Righteous&display=swap');



body {
    font-family: 'Trebuchet MS', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color:midnightblue;
}
#header{
    display: flex;
    align-items:baseline;

}
#site-name a{
    font-family: 'Righteous', Arial, sans-serif;
    text-decoration: none;
    color:white;
}
#main-navigation ul, #main-navigation li, #main-navigation a{
    text-decoration: none;
    color:cornsilk;
    display: flex;
    flex-flow:row wrap; 
    margin-left: 15px;
}
#main-navigation a:hover{
    background-color: blue;
    color:white;
}

.WelcomeView {
    background: url("/img/maintaining_interior_paint.png") left bottom;
    background-size: cover;
    margin: 0;
    padding: 0;
    width:100%;
    height: 750px;
    display:flex;
}

.Greeting {
    width:100%;
    margin:0;
    padding: 20% 0 0 10%;
    
}
.btn a{
    background-color: blue;
    font-size: 1.5em;
    padding: 0 1em 0 1em;
    text-decoration: none;
    color: white;
}
.btn a:hover{
    background-color: white;
    color:blue;
}
.Line1{
    flex: 1 0 0;
    padding: 50px;
    
    width:100%;
    display:flex;
    /* flex-flow:row wrap; */
    justify-content:space-between;
    /* background-color:#004c67; */
}
.Pic1, .Pic2, .Pic3{
    padding: 10px;
    height: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
    /* flex:1 0 33%; */
    /* width: 30%; */
}


.AboutView {
    background: url("/img/wall4.jpeg") left bottom;
    background-size: cover;
    margin: 0;
    padding: 0;
    width:100%;
    height: 750px;
    display:flex;
}
.About.Greeting {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
}
.posterPage{
    background: linear-gradient(rgba(0, 9, 186, 0.342), rgba(0, 0, 0, 0.205)), url("/img/maintaining_interior_paint.png")left bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:100%;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.container{
    margin:0;
    display: inline-grid;
    grid-template-columns: auto auto auto; 
}
.heading a{
    text-decoration: none;
    color: white;
}
.heading a:hover{
    text-decoration: none;
    color: gold;
}
.Poster{
    height: 300px;
    width: 200px;
}
.box{
    border: white solid 1px;
    padding: 50px;
    width: 250px;
    height:400px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
    
}


